<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include partial/head %>
    <title><%= title %></title>
</head>

<body>
    <% include partial/nav %>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>Blank Project Home</h1>
        <p>Blank page</p>
    </div>
    <div class="container">
        <% include partial/alert %>
        <h1>Home</h1>
        <p class="lead">
            Example page
        </p>
    </div>

    <% include partial/footer %>

    <% include partial/scripts %>
</body>

</html>
